<% include partials/header %>

<h1>This is the home page</h1>

<img src="https://static.wixstatic.com/media/c88a97_fdb2554d5c234ce39ee5d50b76dd3c34~mv2.jpg/v1/fill/w_475,h_508,al_c,q_90/file.jpg" alt="">

<% include partials/footer %>
